<launch>
  <env name="ROSCONSOLE_FORMAT" value="[${severity}][${thread}][${node}/${function}:${line}]: ${message}"/>

  <node pkg="gps_goal" type="gps_goal" name="gps_goal" output="screen">
    <param name="frame_id" value="map"/>
    <!-- INPUT TOPICS -->
    <remap from="gps_goal_pose" to="gps_goal_pose" />
    <remap from="gps_goal_fix" to="gps_goal_fix" />
    <remap from="local_xy_origin" to="local_xy_origin" />
  </node>
</launch>
