<launch>
  <env name="ROSCONSOLE_FORMAT" value="[${severity}][${thread}][${node}/${function}:${line}]: ${message}"/>

  <arg name="origin" default="MDRS"/>
  <node pkg="swri_transform_util" type="initialize_origin.py" name="initialize_origin" output="screen">
    <param name="local_xy_frame" value="/world"/>
    <param name="local_xy_origin" value="$(arg origin)"/> <!-- setting "auto" here will set the origin to the first GPS fix that it recieves -->
    <remap from="gps" to="gps"/>
    <rosparam param="local_xy_origins">
      [{ name: MDRS,
         latitude: 38.40630,
         longitude: -110.79201,
         altitude: 0.0,
         heading: 0.0}]
    </rosparam>
  </node>
</launch>
